{% extends "layout.html" %}
{% block inhalt %}
    <form method="POST" action="">
        {% for post in posts %}
            <article class="media content-section">
              <div class="media-body">
                <div class="article-metadata">
                    <input type="checkbox" value={{post.id}} name="mycheckbox">
                    <a class="mr-2" href="#">{{ post["column"] }}</a>
                  <small class="text-muted">{{ post.column }}</small>
                </div>
                <h2><a class="article-title" href="#">{{ post.column }}</a></h2>
                <p class="article-content">{{ post.column }}</p>
              </div>
            </article>
        {% endfor %}
        <div><input type="submit"></div>
    </form>
{% endblock inhalt %}