{% extends "layout.html" %}
{% block inhalt %}
    <form method="POST" action="">
        {% for post in posts %}
            <article class="media content-section">
              <div class="media-body">
                <div class="article-metadata">
                    <input type="checkbox" value={{post.id}} name="mycheckbox">
                    <a class="mr-2" href="{{ post.iri }}">{{ post.label }}</a>
                  <small class="text-muted">{{ post.table }}</small>
                </div>
                <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.engLabel }}</a></h2>
                <p class="article-content">{{ post.engLabel }}</p>
              </div>
            </article>
        {% endfor %}
        <div><input type="submit"></div>
    </form>
{% endblock inhalt %}