
{% extends "layout.html" %}
{% block inhalt %}
    <div class="row">
        <div class="col-xs-5">
            <select name="from[]" class="js-multiselect form-control" size="8" multiple="multiple">
                <option value="1">Item 1</option>
                <option value="2">Item 5</option>
                <option value="2">Item 2</option>
                <option value="2">Item 4</option>
                <option value="3">Item 3</option>
            </select>
        </div>

        <div class="col-xs-2">
            <button type="button" id="js_right_All_1" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i></button>
            <button type="button" id="js_right_Selected_1" class="btn btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
            <button type="button" id="js_left_Selected_1" class="btn btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
            <button type="button" id="js_left_All_1" class="btn btn-block"><i class="glyphicon glyphicon-backward"></i></button>
        </div>

        <div class="col-xs-5">
            <select name="to[]" id="js_multiselect_to_1" class="form-control" size="8" multiple="multiple"></select>
        </div>
    </div>
{% endblock inhalt %}