{% extends "layout.html" %}
{% block inhalt %}
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.column }}</a>
              <small class="text-muted">{{ post.Database }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.column }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock inhalt %}