{% extends "layout.html" %}
{% block inhalt %}
    <h2>Predicted Values</h2>
    <form method="POST" action="">
        {% for post in posts %}
            <article class="media content-section">
              <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ post.column }}</a>
                  <small class="text-muted">{{ post.Database }}</small>
                </div>
                  <h2><a class="article-title" href="#">{{ post.column }}</a></h2>
                  Select a appropriate predicted value:
                  {% for pVal in post.predicted %}
                        <p class="article-content"> <input type="radio" name="mycheckbox"> {{ pVal }} </p>
                  {% endfor %}
              </div>
            </article>
        {% endfor %}
    </form>
{% endblock inhalt %}